.titulo {
    font-family: "Rubik", serif;
}

.subTitulo {
    font-size: 20px;
}

.cardContainer {
    position: relative;
}

.card {
    transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out, opacity 0.5s ease-in-out;
    position: relative;
    z-index: 1;
    opacity: 1;

    &:hover {
        transform: scale(1.2);
        box-shadow: 0 10px 20px rgb(0, 0, 0);
        z-index: 10;
        ~.card{
            opacity: 0.5;
        }
    }
}


.cardImg {
    display: flex;
    justify-content: center;

}

.decoracaoBorda {
    border: solid 5px black;
    border-radius: 50%;
}

.cardIconAluno {
    width: 90px;
    padding: 5px;
    border: solid 10px rgb(242, 161, 4);
    border-radius: 50%;
}

.cardIconLivro {
    width: 90px;
    padding: 5px;
    border: solid 10px rgb(30, 42, 71);
    border-radius: 50%;
}



.cardIconAutor {
    width: 90px;
    padding: 5px;
    border: solid 10px rgb(106, 61, 255);
    border-radius: 50%;
}

.cardIconEmprestimo{
    width: 90px;
    padding: 15px;
    border: solid 10px rgb(87, 4, 4);
    border-radius: 50%;
}

.cardText {
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #CFB1B8;
    border: 5px solid black;
    border-radius: 10px 20px;
    text-align: justify;
}

.cardText p {
    font-family: "Rubik", serif;
    font-weight: bolder;
    color: #19191B;
    padding: 15px 15px 0px 15px;
    font-size: 17px;
    text-indent: 1em;
}



.btn {
    font-weight: bolder;
    text-align: center;
    padding: 10px 20px; //
    border-radius: 5px; //
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
}


.btnLivros {
    color: white;
    background-color: #1E2A47;
    border: 3px solid #152040;

    &:hover {
        background-color: #152040;
        border: 3px solid #1E2A47;
        color: #000000;
    }
}


.btnAutores {
    color: white;
    background-color: #6A3DFF;
    border: 3px solid #5327CC;

    &:hover {
        background-color: #5327CC;
        border: 3px solid #6A3DFF;
        color: #ffffff;

    }
}


.btnAlunos {
    color: black;
    background-color: #F2A104;
    border: 3px solid #C87B02;

    &:hover {
        background-color: #C87B02;
        border: 3px solid #F2A104;
        color: #000000;

    }
}
.btnEmprestimos {
    color: white;
    background-color: rgb(87, 4, 4);
    border: 3px solid #c80202;

    &:hover {
        background-color: #c80202;
        border: 3px solid #f20404;
        color: #000000;

    }
}


