@import 'bootstrap/scss/bootstrap';
@import '../scss/components/header';
@import '../scss/components/_footer.scss';
@import '../scss/pages/_cadastroHome.scss';
@import 'pages/formularios';
@import 'pages/tabelas';


body{
    font-family: 'Roboto', sans-serif;
    background-color: #4a5568 !important;
    height: 100%;
    margin: 0;
}
.row{
    margin: 0;
}

.container{
    padding: 70px 0;
}

p, li{
    color: #444;
    font-size: 14px;
}







